.Palette {
  display: flex;
  flex-wrap: wrap;
  gap: var(--l-gap);
}

.PaletteItem {
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: calc(50% - 6px);
}

.Preview {
  width: 32px;
  min-width: 32px;
  height: 24px;
  border-radius: 6px;
  background-color: var(--default-100);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
}

.TextPreview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 24px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.BorderPreview {
  border: 3px solid var(--default-200);
  box-shadow: none;
}

.SizePreview {
  position: relative;
  overflow: hidden;

  .Rect {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 4px;
    background-color: var(--primary-500);

    &:before, &:after {
      width: 1px;
      height: 8px;
      background-color: var(--primary-500);
      content: '';
    }

    &:before {
      position: absolute;
      left: -1px;
    }

    &:after {
      position: absolute;
      right: -1px;
    }
  }
}

.Name {
  font-family: 'JetBrains Mono';
  font-weight: var(--labelFontWeight);
  line-height: var(--labelLineHeight);
  font-size: var(--labelFontSize);
}

.Version {
  font-weight: 400;
  margin-left: 0.5ch;
  opacity: 0.7;
}

:global(.AltroneDark) {
  .Preview {
    background-color: var(--default-800);
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.1);
  }
}