.BluePrint {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 320px;
  border-radius: 36px;
  background-color: #b9dcf2;
  padding: 50px;
}

.Title {
  font-family: "Inter", sans-serif;
  font-size: 54px;
  color: var(--default-800);
  font-weight: 700;
  //text-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.Description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 8px;
  color: var(--default-900);
  font-weight: 500;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
  mix-blend-mode: color-burn;
}

.FirstCircle,
.SecondCircle,
.ThirdCircle {
  border-radius: 50%;
  position: absolute;
  filter: blur(64px);
  transform: translateY(-50%) translateX(-50%);
}

.FirstCircle {
  background-color: #caefd7;
  width: 100%;
  height: 100%;
  left: 80%;
  top: 75%;
}

.SecondCircle {
  background-color: #f5bfd7;
  width: 65%;
  height: 65%;
  left: 12%;
  top: 80%;
}

.ThirdCircle {
  background-color: #abc9e9;
  width: 120%;
  height: 120%;
  left: -5%;
  top: 14%;
}

.Meta {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  z-index: 1;
}

.LabelContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 550;
}

.Label {
  color: black;
  font-size: 12px;
}

:global(.AltroneDark) {
  .BluePrint {
    //background-color: var(--default-800);
    background-color: #103783;
  }

  .Title,
  .Description {
    color: var(--default-50);
    mix-blend-mode: overlay;
  }

  .FirstCircle {
    background-color: #a18dce;
    opacity: 0.7;
  }

  .SecondCircle {
    background-color: #f492f0;
    opacity: 0.4;
  }

  .ThirdCircle {
    background-color: #f9c58d;
    opacity: 0.65;
  }

  .LabelContainer {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .Label {
    color: white;
  }
}
