.VersionLabel {
  --background: #FFD54F;
  --backgroundVersion: #FFC107;
  --text: #212121;

  display: flex;
  width: fit-content;
  margin: 10px 0;
  align-items: center;
  border-radius: 6px;
  padding-left: 6px;
  background: var(--background);
  color: var(--text);
  font-family: 'Open Sans';
  font-size: var(--labelFontSize);
  font-weight: var(--labelFontWeight);
  line-height: var(--labelLineHeight);
}

.VersionLabel__version {
  background: var(--backgroundVersion);
  padding: 2px 6px;
  margin-left: 4px;
  border-radius: 6px;
  font-weight: 700;
}

:global(.altrone--dark) .VersionLabel {
  --background: #FFD54F;
  --backgroundVersion: #FFC107;
}

.VersionLabel_deprecated {
  --background: #FF5722;
  --backgroundVersion: #E64A19;
  --text: white;
}

:global(.altrone--dark) .VersionLabel_deprecated {
  --background: #D84315;
  --backgroundVersion: #BF360C;
}

:global(.altrone--dark) .VersionLabel_accessibility {
  --background: #1976d2;
  --text: white;
}

.VersionLabel_accessibility {
  --background: #42a5f5;
  --text: white;
  padding-right: 6px;
}

.VersionLabel_accessibility :global(.alt-icon) {
  font-size: 1.45em !important;
  margin-right: 4px;
}