.Label {
  display: block;
}

.Pin {
  display: inline-flex;
  align-items: center;
  background: #7E57C2;
  border-radius: 6px;
  color: var(--default-50);
  font-size: 12px;
  padding: 2px 6px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  gap: 6px;
}