.ColorToken {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ColorToken__indicator {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 15px 0 var(--shadow);
  border: 1px solid var(--borderColor);
  line-height: 100px;
  font-size: 36px;
  font-weight: 700;
}

.ColorToken__name {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor);
}

.ColorToken__variable {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondaryTextColor);
  letter-spacing: 0.25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: all;
}

.ColorTokenList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}