@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {

}

body .background {
  height: 100%;
  background-image: url(../public/bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body .altrone {
  background-color: var(--surfaceGlass);
  backdrop-filter: blur(16px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

code:not([style]) {
  background-color: var(--surface);
  border-radius: 4px;
  padding: 2px 4px;
  border: 1px solid var(--borderColor);
  font-size: 0.9em;
  color: var(--textColor);
  margin: 0 0.5ch;
  white-space: nowrap;
}

p .alt-icon {
  display: inline-block;
  font-weight: 600;
  color: var(--accent);
  margin: -2px 4px;
  font-size: 1.2em !important;
}

p a {
  color: var(--accent);
}

p a:hover, p a:focus {
  text-decoration: underline;
}