.ConfigCell {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--smallParagraphFontSize);
  line-height: var(--smallParagraphLineHeight);
  font-weight: var(--smallParagraphFontWeight);
  color: var(--default-500);
  font-family: "JetBrains Mono", monospace;
  gap: 4px;
}

.LastLeaf {
  color: var(--default-900);
  font-weight: 600;
  margin-left: -4px;
}

.TypeCell {
  font-size: var(--smallParagraphFontSize);
  line-height: var(--smallParagraphLineHeight);
  font-weight: var(--smallParagraphFontWeight);
  color: var(--default-700);
  font-family: "JetBrains Mono", monospace;
}

:global(.AltroneDark) {
  .LastLeaf {
    color: var(--default-50);
  }

  .TypeCell {
    color: var(--default-200);
  }
}