.ConfigCell {
  font-size: var(--smallParagraphFontSize);
  line-height: var(--smallParagraphLineHeight);
  font-weight: var(--smallParagraphFontWeight);
  color: var(--default-500);
  font-family: "JetBrains Mono", monospace;
}

.LastLeaf {
  color: var(--default-900);
  font-weight: 600;
}

.TypeCell {
  font-size: var(--smallParagraphFontSize);
  line-height: var(--smallParagraphLineHeight);
  font-weight: var(--smallParagraphFontWeight);
  color: var(--default-700);
  font-family: "JetBrains Mono", monospace;
}